* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s;
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    height: 100vh;
  
    text-align: center;
     
}

h3 {
    
    height: 15vh;
    text-align: center;
    background-image: linear-gradient(45deg, #4ae590, #0a7ba8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


th{
    text-align: center !important;
     background-image: linear-gradient(45deg, #4ae590, #0a7ba8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}




.buttonn{
    background-image: linear-gradient(45deg, #0a7ba8, #4abeb1, #3cb371);
    border-style: none !important;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

    
}

.buttonn:hover {
    background-image: linear-gradient(90deg, #85ccc4, #4abeb1, #128577);
    color: rgb(245, 234, 234) !important;
    cursor: pointer;
}

a {
    margin-left: 25px;
    font-size: small;
    color: #128577;
}